.circle {
  width: 100px;
  height: 100px;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

h3, h5 {
  margin: 0
}